{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <h1>Change Password</h1>
    <form action="/change_password" method="post">
        <div class="container">
            <div class="row justify-content-center mb-4">
                <div class="col-7">
                    <p>Current Password</p>
                </div>
                <div class="col-5">
                    <input autocomplete="off" autofocus class="form-control input_size_reg" name="crt_psw" placeholder="Current Password" type="text">
                </div>
            </div>
            <div class="row justify-content-center mb-4">
                <div class="col-7">
                    <p>Comfirm Password</p>
                </div>
                <div class="col-5">
                    <input autocomplete="off" autofocus class="form-control input_size_reg" name="cfm_pwd" placeholder="Comfirm Password" type="text">
                </div>
            </div>
            <div class="row justify-content-center mb-4">
                <div class="col-7">
                    <p>New Password</p>
                </div>
                <div class="col-5">
                    <input class="form-control input_size_reg" autocomplete="off" autofocus name="new_psw" placeholder="New Password" type="text">
                </div>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Change</button>
    </form>
{% endblock %}
