{% extends "layout.html" %}

{% block title %}
    Travel Page
{% endblock %}

{% block main %}
    <div class="container text-cente wish_pager">
      <div class="row mb-5">
        <div class="col">
            <h3 class="font-txt">{{ traveled_dict.username }}'s Travel Report Page</h3>
        </div>
      </div>
      <div class="mt-5">
        <p>Please update your travel Report list.</p>
      </div>
      <div class="containerA mt-5">
        <div class="background-green">
        </div>
        <div class="contents">
          <form class="travel_form" action="/travel" method="post" enctype="multipart/form-data">
            <div class="row">
              <div class="col">
                <h5 class="title_font">WHEN</h5>
              </div>
            </div>
            <div class="row second_title text-center">
              <div class="col-3">
                <p>YEAR</p>
              </div>
              <div class="col-3">
                <input autocomplete="off" autofocus class="form-control input_size" name="year" placeholder="year" type="number" min="{{ traveled_dict.birthday_year}}" max="{{ traveled_dict.this_year }}">
              </div>
              <div class="col-1">
                <p>SEASON</p>
              </div>
              <div class="col-3" style="text-align: left; margin-left: 50px;">
                <select class="form-select input_size" aria-label="Default select example" name="season" required>
                  <option disabled　selected value="">select season</option>
                  {% for season in traveled_dict.seasons %}
                      <option value="{{ season }}">{{ season }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col">
                  <h5 class="title_font">WHERE</h5>
              </div>
            </div>
              <div class="row second_title text-center">
                <div class="col-3">
                  <p>REGION</p>
                </div>
                <div class="col-3" style="text-align: left;">
                  <select id="slct1" class="form-select input_size"  aria-label="Default select example" name="region" required>
                    <option  disabled　selected value="">select region</option>
                  </select>
                  <!-- <select class="form-select input_size" aria-label="Default select example" name="region" required>
                    <option disabled　selected value="">select region</option>
                    {% for region in traveled_dict.regions_rows %}
                        <option value="{{ region }}">{{ region.name }}</option>
                    {% endfor %}
                  </select> -->
                </div>
                <div class="col-1">
                  <p>COUNTRY</p>
                </div>
                <div class="col-3" style="text-align: left; margin-left: 50px;">
                  <select id="slct2" class="form-select input_size" aria-label="Default select example" name="country" required>
                    <option disabled　selected value="">select region first</option>
                  </select>
                  <!-- <select class="form-select input_size" aria-label="Default select example" name="country" required>
                    <option disabled　selected value="">select country</option>
                    {% for row in traveled_dict.country_rows %}
                        <option value="{{ row }}">{{ row.name }}</option>
                    {% endfor %}
                  </select> -->
                </div>
              </div>
              <div class="row">
                <div class="col">
                    <h5 class="title_font">WHO WITH</h5>
                </div>
              </div>
              <div class="row second_title text-center">
                <div class="col-3">
                  <p>GROUP</p>
                </div>
                <div class="col-3">
                  <select class="form-select input_size" aria-label="Default select example" name="relationship" required>
                    <option disabled　selected value="">select group</option>
                    {% for row in traveled_dict.relationship %}
                        <option value="{{ row }}">{{ row }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col">
                    <h5 class="title_font">MEMORY</h5>
                </div>
              </div>
              <div class="row second_title text-center">
                <div class="col-3">
                  <p>UPLOAD</p>
                </div>
                <div class="col-3">
                  <input type="file" name="travel_file">
                </div>
              <button class="btn btn-outline-secondary submit_btn mb-4" type="submit">Save</button>
            </div>
            </form>
          </div>
      </div>
      <div class="mt-5">
        <h4 class="title_font">My Travel Report List</h4>
        <table class="table table-hover">
          <colgroup span="2"></colgroup>
          <colgroup span="2"></colgroup>
          <col>
          <thead>
              <tr>
                  <th colspan="2" scope="colgroup">When</th>
                  <th colspan="2" scope="colgroup">Where</th>
                  <th colspan="1" scope="colgroup">Who</th>
              </tr>
              <tr>
                <th scope="col">year</th>
                <th scope="col">Season</th>
                <th scope="col">Region</th>
                <th scope="col">Country</th>
                <th scope="col">Relationship</th>
              </tr>
          </thead>
          <tbody>
            {% if db_date != "" %}
                {% for date in db_date %}
                    <tr>
                      <td>{{ date.year }}</td>
                      <td>{{ date.season }}</td>

                      {% for region in regions_date %}
                        {% if date.region_id == region.id %}
                          <td>{{ region.name }}</td>
                        {% endif %}
                      {% endfor %}

                      {% for country in countries_date %}
                        {% if date.country_id == country.id %}
                          <td><img class="flag" src="{{ country.pass }}">{{ country.name }}</td>
                        {% endif %}
                      {% endfor %}

                      <td>{{ date.with_who }}</td>
                      <td>
                        <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="{{ date.file_pass }}">
                          <img class="file_size" src="{{date.file_pass}}">
                        </button>
                      </td>
                    </tr>
                {% endfor %}
              {% endif %}
          </tbody>
      </table>
      {% if msg != "" %}
        <p>{{ msg }}</p>
      {% endif %}
      </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog  modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Memory photo</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-3">
                <img id="image_place" class="modal_file_size">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
